attr
colorama
ConfigParser
cryptography
docutils
filelock
HTMLParser
ipython
ipywidgets
jnius
keyring
Pillow
protobuf
pyOpenSSL
PyQt5
PyQt5_sip
redis
Sphinx
thread
urllib3_secure_extra
xmlrpclib
requests